.search {
    display:flex;
    justify-content: center;
    width: 60%;
    margin-inline: auto;
    margin: 30px auto 10px;
}
.search > input {
    width: 80%;
}

.search > button {
    width: 20%;
}